%section#candidacies
  .page-header
    - if @candidacies.present?
      %h1 jobs applications for #{@job.title}

  - if @candidacies.present?
    %table.table.table-striped
      %tr
        %th
          = t(:candidate_name)
        %th
          = t(:applied_on)
        %th
          = t(:status)
        %th
          actions
      - @candidacies.each do |c|
        = render 'candidacy', :c => c
  - else
    no application received so far
