%section
  .page-header
    - if @candidacies.present?
      %h1 jobs applications for #{@job.title}

  - if @candidacies.present?
    %table.table.table-striped
      %tr
        %th
          = t(:candidate_name)
        %th
          = t(:candidate_name)
        %th
          = t(:status)
        %th
          actions
      - @candidacies.each do |c|
        %tr
          %td= link_to c.candidate.name, candidate_path(c.candidate), :target => :_blank
          %td= c.created_at
          %td= c.status
          %td
            = link_to_function 'reject', "alert('rejecting');", :class => 'btn btn-mini btn-danger'
            = link_to_function 'consider', "alert('considering');", :class => 'btn btn-mini'

  - else
    no application received so far
