%section.form
  .page-header
    %h1 companies
  -if @companies.present?
    %table.table.table-striped
      %tr
        %th name
        %th email
        %th website
        %th created on
        %th

      - @companies.each do |company|
        %tr
          %td= link_to company.name, company_path(company), :target => :_blank
          %td= company.email
          %td= company.website
          %td= company.created_at
          %td
            .btn-group
              = link_to '<i class="icon-share-alt">&nbsp;</i>show'.html_safe, company_path(company), :class => 'btn btn-mini', target: '_blank'
              = link_to '<i class="icon-pencil">&nbsp;</i>edit'.html_safe, edit_console_company_path(company), :class => 'btn btn-mini'
              = link_to '<i class="icon-remove">&nbsp;</i>destroy'.html_safe, console_company_path(company), :confirm => 'are you sure to delete this company?',
                        :method => :delete, :class => 'btn btn-danger btn-mini'
  - else
    .alert.alert-warning
      no companies added so far!

  .form-actions
    = link_to '<i class="icon-plus"></i>&nbsp;add company'.html_safe, new_console_company_path, :class => 'btn btn-primary'
