%section.form
  .page-header
    %h1 Companies
  - if @companies.present?
    %table.table.table-striped
      %tr
        %th Name
        %th Email
        %th Website
        %th Address
        %th

      - @companies.each do |company|
        %tr
          %td{style: 'width: 10%'}= company.name
          %td{style: 'width: 10%'}= company.email
          %td{style: 'width: 10%'}= company.website
          %td{style: 'width: 30%'}= company.address
          %td
            .btn-group
              = link_to '<i class="icon-share-alt">&nbsp;</i>Show'.html_safe, console_company_path(company), :class => 'btn btn-mini'
              = link_to '<i class="icon-pencil">&nbsp;</i>Edit'.html_safe, edit_console_company_path(company), :class => 'btn btn-mini'
              = link_to '<i class="icon-remove">&nbsp;</i>Destroy'.html_safe, console_company_path(company), :confirm => 'Are you sure?',
                        :method => :delete, :class => 'btn btn-danger btn-mini'
  - else
    .alert.alert-warning
      No company added so far!

  .form-actions
    = link_to '<i class="icon-plus"></i>&nbsp;Add Company'.html_safe, new_console_company_path, :class => 'btn btn-primary'
