%section
  .page-header
    %h1 job postings

  - if @jobs.present?
    /= pagination_links(@jobs)
    %table.table.table-striped
      %tr
        %th title
        %th salary
        %th type
        %th posted
        %th{width: '100px'} expires in
        %th visibility
        %th job applications
        %th actions

      - @jobs.each do |job|
        %tr
          %td
            = link_to job.title, job_url(job), :target => :blank
            %small
              = job.location
          %td= job.salary
          %td= job.contract_type.humanize.downcase
          %td
            = job.created_at.present? ? distance_of_time_in_words_to_now(job.created_at) + ' ago' : '-'
          %td
            - if job.expires_at > Time.now
              = job.expires_at.present? ? distance_of_time_in_words(Time.now, job.expires_at) : '-'
            - else
              = job.expires_at
          %td
            = job.display ? 'visible' : 'hidden'
          %td
            = link_to job.candidacies.length, employer_job_candidacies_path(job)
          %td
            = link_to ' edit', edit_employer_job_path(job), :class => 'btn btn-mini icon-edit'
            = link_to ' copy', employer_job_duplicate_path(job.id), :class => 'btn btn-inverse btn-mini icon-plus-sign'
            = link_to ' delete', employer_job_path(job), :confirm => 'are you sure to delete this jobs?', :method => :delete, :class => 'btn btn-danger btn-mini icon-minus-sign'

    %br
    /= pagination_links(@jobs)
  - else
    .alert.alert-warning
      no jobs added so far!
  %br
  = link_to ' new job'.html_safe, new_employer_job_path, :class => 'btn btn-primary icon-plus-sign'
