.page-header
  %h3 Company Information

.row
  .span1
    %strong Company
  .span4
    = link_to company.name, company_url(company)

.row
  .span1
    %strong E-mail
  .span4
    = link_to company.email, "mailto:#{company.email}"

.row
  .span1
    %strong Website
  .span4
    = link_to company.website, company.website

.row
  .span1
    %strong Address
  .span4
    %p= simple_format company.address.html_safe