.page-header
  %h3
    = t(:company_information)

.row
  .span1
    %strong company
  .span4
    = link_to company.name, company_url(company)

.row
  .span1
    %strong email
  .span4
    = link_to company.email, "mailto:#{company.email}"

.row
  .span1
    %strong website
  .span4
    = link_to company.website, company.website

.row
  .span1
    %strong address
  .span4
    = simple_format company.address.html_safe