%section
  .page-header
    %h1= @company.name

  .row
    .span6
      %p= @company.overview.html_safe
    .span6
      .well.contact-info
        = render @company

      - if @company.jobs.present?
        .page-header
          %h3
            = t(:recent_jobs)

        %ul
          - @company.jobs.each do |job|
            %li
              = link_to job.title, job_url(job)
              %span.muted= job.location


  = content_for(:title) do
    = "#{@company.name}"


