#top-menu.navbar.navbar-fixed-top
  .navbar-inner
    .container
      %a.btn.btn-navbar(data-target=".nav-collapse" data-toggle="collapse")
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar

      %a.brand(href=console_root_path)
        %img{src: '/assets/logo.png', height: '30px'}
        somewhere in... jobs

      .nav-collapse
        %ul.nav
          %li#console-companies= link_to "companies", :console_companies
          %li#console-jobs= link_to "jobs", :console_jobs
          %li#console-pages= link_to "pages", :console_pages

        %ul.nav.pull-right
          %li
            = link_to 'main site', root_path
          %li
            = link_to 'clear all cache', console_clearcache_path

