%p#notice= notice

%p
  %b page title:
  = @page.title
%p
  %b content:
  %div
    = @page.content.html_safe
%p
  %b visibility:
  = @page.display ? 'visible' : 'hidden'

= link_to ' edit', edit_console_page_path(@page), :class => 'btn icon-edit'
\|
= link_to ' back', console_pages_path, :class => 'btn icon-arrow-left'
