.control-group
  = f.label :tags, class: 'control-label'
  .controls.tags
    = f.text_field :tags, class: 'input-xxlarge'
.control-group
  = f.label :description, class: 'control-label'
  .controls
    = f.text_area :description, :class => 'rich-editor input-xxlarge'

.control-group
  = f.label :requirements, class: 'control-label'
  .controls
    = f.text_area :requirements, :class => 'rich-editor input-xxlarge'

.control-group
  = f.label :additional_qualities, class: 'control-label'
  .controls
    = f.text_area :additional_qualities, :class => 'input-xxlarge rich-editor'

.form-actions.navbar-fixed-bottom
  %a.btn.btn-warning{href: '#tab-basic-info', 'data-toggle' => 'tab', type: 'button'} &lt; Previous Basic Info
  %a.btn.btn-primary{href: '#tab-instruction', 'data-toggle' => 'tab', type: 'button'} Next Instruction &gt;