.page-header
  %h1 Job Details
  %p#notice= notice
  %h3 Company
  %pre= link_to @job.company.name, console_company_path(@job.company)
  %p
  %h3 Title:
  %pre= @job.title
  %p
  %h3 Location:
  %pre= @job.location
  %p
  %h3 Description:
  %pre= @job.description.html_safe
  %p
  %h3 Requirements:
  %pre= @job.requirements.html_safe
  %p
  %h3 Additional qualities:
  %pre= @job.additional_qualities.html_safe
  %p
  %h3 Salary:
  %pre= @job.salary
  %p
  %h3 Instructions:
  %pre= @job.instructions.html_safe
  %p
  %h3 Job Contract type:
  %pre= @job.contract_type.humanize
  %p
  %h3 Notes:
  %pre= @job.notes.html_safe
  %p
  %h3 display:
  %pre= @job.display
  %p
  %h3 Expires at:
  %pre= @job.expires_at
  %p
  %h3 Tags:
  %pre= @job.tags.to_s
  = link_to 'Edit', edit_console_job_path(@job), :class => 'btn'
  = link_to 'Back', console_jobs_path, :class => 'btn'
